*{
    margin:0;
    padding:0;
}
#banner{
    background-image:url(assets/image1.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    }
.logo{
        color:white;
        font-style: italic;
        font-size: 35px;
        letter-spacing:1px;
        cursor: pointer;
    }
span{
        color:#f9004d;
    }
.banner-text{
    text-align:center;
    color:aliceblue;
    padding-top: 180px;
}
.banner-text h3{
    font-size: 55px;
    font-family: 'Crimson Text', serif;
}
.banner-text p{
    padding-top: 40px;
    font-size: 30px;
    font-style: italic;
    color:#f9004d;
}
.banner-btn{
    margin:70px auto ;
}
.banner-btn a{
    width:150px;
    text-decoration:none;
    display:inline-block;
    margin: 10px;
    padding-top:none;
    color:aliceblue;
    font-size: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px;
    font-size: 20px;
    font-stretch:expanded;
}
nav ul li a{
    color:#e01111;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:yellow;
    transition: .5s;
}
nav ul li ::after{
    content:'';
    width:100%;
    height:2px;
    background: #e01111;
    display: block;
    margin: auto;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 8%;
}
h1{
    font-size:36px;
    font-weight:500px;
    text-align:center;
}
.content{
    background-image:url(assets/earth.jpg);
    background-size:100%;
    display: flex;
    padding: 50px;

}
.content p{
    font-size: 30px;
    font-style: italic;
    color:#ffffff;
}
.content h1{
    color:#ffffff;
}
.content img{
    width: 200px;
    height: 200px;
    padding:40px;
    image-rendering:pixelated;
    border-radius: 85px;
}

